[user]
	name = "ENTER FIRST AND LAST NAME"
	email = WRITEYOUREMAILADDRESS
[diff]
	tool = bc
[difftool "bc"]
	path = "bcomp"
[merge]
	tool = bc
[mergetool "bc"]
	path = "bcomp"
[push]
	default = simple
[alias]
	co = checkout
	lg = log --color --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	ss = status
	po = remote prune origin
	purge = "!git checkout master && git branch --no-color --merged | grep -v master | xargs -n 1 git branch -d && git checkout -"
	remote-purge = "!git branch -r --merged | grep -v master | grep origin | sed 's/origin\\///' | xargs -n 1 git push --delete origin"
	remote-purge-dryrun = "!git branch -r --merged | grep -v master | grep origin | sed 's/origin\\///' | xargs -n 1 echo"
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	alias = config --get-regexp alias
	list-branches-without-remote = "!git branch -vv | cut -c 3- | awk '$3 !~/\\[/ { print $1 }'"
	dump = "!uploadStash=`git stash create`; git archive -o git-dump.zip ${uploadStash:-HEAD}"
[pull]
	rebase = true
